@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a href="#vete" class="nav-link text-dark">Vêtements</a>
                </li>
                <li class="nav-item">
                    <a href="#access" class="nav-link text-dark">accessoires</a>
                </li>
                <li class="nav-item">
                    <a href="#jouet" class="nav-link text-dark">Jouet</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index" data-bs-toggle="modal" data-bs-target="#Connexion">
                        Connexion
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        inscription
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index" data-bs-toggle="modal" data-bs-target="#a" onclick="mettreAjourPrixTotal()">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="modal fade" id="a" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Panier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="panier"></div>
                    <span id="total-articles">Total des articles: 0</span> <br>
                    <span id="prix-total-articles">Prix total des articles: 0</span>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" onclick="AfficheMessageFinDeCommande()">Passer la commande</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">incription</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-page="/Index">
                        <div class="mb-3">
                            <label for="lastname" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="lastname" value="">
                        </div>
                        <div class="mb-3">
                            <label for="forstname" class="form-label">Prénom</label>
                            <input type="text" class="form-control" id="forstname">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Mail</label>
                            <input type="email" class="form-control" id="email" value="">
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">Adresse</label>
                            <input type="text" class="form-control" id="city" value="">
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword5" class="form-label">Mot de Passe</label>
                            <input type="password" id="inputPassword5" class="form-control" value="">
                            <div id="passwordHelpBlock" class="form-text">
                                <p>
                                    Votre mot de passe doit comporter entre 8 et 20 caractères, contenir des lettres et des chiffres et ne doit pas contenir d'espaces, de caractères spéciaux ou d'emoji.
                                </p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success" id="button">Valide</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Connexion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Connexion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Mail</label>
                            <input type="email" class="form-control" id="email" value="">
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword5" class="form-label">Mot de Passe</label>
                            <input type="password" id="inputPassword5" class="form-control" value="">
                        </div>
                        <input type="submit" class="btn btn-success" data-bs-dismiss="modal" value="Valide" />
                    </form>
                </div>
            </div>
        </div>






</header>




<header class="blocTop">
    <div class="imgBloc">
        <img class="introLogo" src="../image/baz.png" />
    </div>
   
</header>

    <main class="fond">
        <div class="presentation">
            <p >
                <br >
                Bienvenue sur notre site spécialisé dans la vente de vêtements et de jouets pour bébés !
                Nous sommes fiers de vous offrir une vaste sélection d'articles adorables et de haute qualité,
                conçus spécialement pour les tout-petits.
                <br > Que vous soyez à la recherche de tenues mignonnes et confortables pour habiller votre bébé avec style, ou de jouets stimulants pour l'éveiller et l'amuser, vous trouverez tout ce dont vous avez besoin chez nous. Notre équipe s'engage à vous offrir une expérience de shopping en ligne agréable et pratique, avec une navigation facile, des descriptions détaillées et des images claires pour vous aider à faire le meilleur choix pour votre bébé. Faites confiance à notre expertise et laissez-nous vous accompagner dans cette merveilleuse aventure de la parentalité en vous offrant des produits de qualité qui répondent
                à tous les besoins de votre précieux petit bout de chou.
            </p>
        </div>
        

        <!--gard des jeux-->
        <br>
        <h1 id="jouet" class="titre"> Les jouets </h1>
        <div class="row g-6">
            <!--card jeux 1-->
            <div class="col">
                <div class="card h-150">
                    <center><img id="imgjeux" src="../image/anneau.jpg" class="card-img1" alt="..." data-bs-toggle="modal" data-bs-target="#Modal1"></center>
                    <div class="card-body">
                        <h5 class="card-title">Anneau en bois</h5>
                    </div>
                </div>
            </div>
            <!--card jeux 2-->
            <div class="col">
                <div class="card h-150">
                    <center>
                        <img id="imgjeux" src="../image/jeuxdéveil.jpg" class="card-img2" alt="..." data-bs-toggle="modal" data-bs-target="#Modal2">
                    </center>
                    <div class="card-body">
                        <h5 class="card-title">Arche d'éveil en bois</h5>
                    </div>
                </div>
            </div>
            <!--card jeux 3 -->
            <div class="col">
                <div class="card h-150">
                    <center> <img id="imgjeux" src="../image/anneauxàempiler.jpg" class="card-img3" alt="..." data-bs-toggle="modal" data-bs-target="#Modal3"></center>
                    <div class="card-body">
                        <h5 class="card-title">
                            Pyramide à empiler en silicone
                        </h5>
                    </div>
                </div>
            </div>
            <!--card jeux  4-->
            <div class="col">
                <div class="card h-150">
                    <center>   <img id="imgjeux" src="../image/boitedejeux.jpg" class="card-img4" alt="..." data-bs-toggle="modal" data-bs-target="#Modal4"></center>
                    <div class="card-body">
                        <h5 class="card-title">Boite de jeux en bois</h5>
                    </div>
                </div>
            </div>
            <!--card jeux 5-->
            <div class="col">
                <div class="card h-150">
                    <center> <img id="imgjeux" src="../image/leka.jpg" class="card-img5" alt="..." data-bs-toggle="modal" data-bs-target="#Modal5"></center>
                    <div class="card-body">
                        <h5 class="card-title">LEKA Portique bébé, bouleau/multicolore</h5>

                    </div>
                </div>
            </div>
            <!--card jeux 6-->
            <div class="col">
                <div class="card h-150">
                    <center> <img id="imgjeux" src="../image/train.jpg" class="card-img6" alt="..." data-bs-toggle="modal" data-bs-target="#Modal6"></center>
                    <div class="card-body">
                        <h5 class="card-title">Train employable en bois</h5>
                    </div>
                </div>
            </div>
            <!--modal jeux1-->
            <div class="modal fade" id="Modal1" tabindex="3" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Anneau en bois</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <!--carossel jeux1-->
                            <div id="carouselExample" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../image/anneau.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../image/ann1.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <div>
                                <br>
                                <p>
                                    Un anneau de dentition personnalisable jusqu’à 5 caractères (lettres uniquement), en perles de bois et silicone. Quatre couleurs au choix : bleu, menthe, pêche et rose ...
                                </p>
                                <span class="price-value public-price" data-format="SubtitleDeviseOrigine"><b>30</b><span>€50</span></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                            <button type="button" class="btn " onclick="ajouterAuPanier(0)" id="car-0" data-price="30.50" data-description="Anneau en bois">Ajouter au panier </button>

                        </div>
                    </div>
                </div>
            </div>
            <!--modal jeux2-->
            <div class="modal fade" id="Modal2" tabindex="3" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Arche d'éveil en bois</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div><img src="../image/jeuxdéveil.jpg" class="d-block w-100" alt="..."></div>
                            <div>
                                <p style="">Un adorable coffret imaginé pour les tout-petits, composé d'un mini boulier, d'un puzzle des formes à encastrer hibou, d'une pyramide à empiler biche. Bébé sera attiré par les couleurs et les différentes formes de ces jouets bien intrigants !</p>
                                <ul>Dimensions</ul>
                                <ul>Boulier : 10 x 10 x 15 cm</ul>
                                <ul>Pyramide à empiler : hauteur 16 cm x diamètre 8 cm</ul>
                                <ul>Puzzle des formes : longueur : 19 cm</ul>
                                <span class="price-value public-price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>34</b><span>€95</span></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                <button type="button" class="btn" onclick="ajouterAuPanier(1)" id="car-1" data-price="34.95" data-description="Arche d'éveil en bois">Ajouter au panier </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal jeux3-->
            <div class="modal fade" id="Modal3" tabindex="3" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Pyramide à empiler</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--carossel jeux 3-->
                            <div id="carousel3" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="../image/anneauxàempiler.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../image/pyra1.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../image/pyra2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <div>
                                    <br>
                                    <p>
                                        Découvrez la pyramide à empiler en silicone Blue multi mix de la marque Liewood. Ce jouet de motricité est idéal pour stimuler les sens de bébé et sa capacité de logique. Ce jouet à empiler en silicone amusera votre enfant tout en faisant progresser son éveil.
                                        Un cadeau de naissance original !
                                    </p>
                                    <ul>Dimensions</ul>
                                    <ul>Matière : 100% silicone</ul>
                                    <ul> Coloris : Blue multi mix</ul>
                                    <ul>Entretien : Nettoyer avec un chiffon humide et un savon doux</ul>
                                    <ul>  Utilisation : A partir 6 mois</ul>
                                    <span class="price-value public-price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>30</b><span>€95</span></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                    <button type="button" class="btn" onclick="ajouterAuPanier(2)" id="car-2" data-price="30.95" data-description="Pyramide à empiler">Ajouter au panier </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--modal jeux4-->
            <div class="modal fade" id="Modal4" tabindex="3" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Boite de jeux en bois</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--carossel jeux 4-->
                            <div id="carousel4" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="../image/boitedejeux.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../image/boite1.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../image/boite2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <div>
                                    <br>
                                    <p>
                                        ce jouet est composée de 12 formes aux couleurs douces, la Boîte à Formes créée par la marque mushie retiendra toute l'attention et suscitera la curiosité de votre p'tit loup.
                                        En jouant avec les formes et en cherchant à les encastrer au bon endroit, votre enfant développera sa motricité fine en s'amusant.
                                        Léger et de petite taille, voilà un jeu que vous pourrez emporter partout.
                                    </p>
                                    <ul>Dimensions: l. 14,2 x H. 14,2 x P. 14,2 cm</ul>
                                    <ul>Matière : 100% bois</ul>
                                    <ul>
                                        Coloris : Blue multi mix
                                    </ul>
                                    <ul>  Utilisation : A partir 10 mois</ul>
                                    <span class="price-value public-price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>25</b><span>€95</span></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                    <button type="button" class="btn" onclick="ajouterAuPanier(3)" id="car-3" data-price="25.95" data-description="Boite de jeux en bois">Ajouter au panier </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--modal jeux5-->
            <div class="modal fade" id="Modal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">LEKA Portique bébé, bouleau/multicolore</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--carossel jeux 5-->
                            <div id="carousel5" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="../image/leka.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../image/leka1.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../image/leka2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel5" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel5" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <div>
                                    <br>
                                    <p>
                                        Les jouets colorés installés sur ce portique donneront envie à votre bébé de s'amuser avec. Un moyen amusant pour lui de développer sa coordination mail-oeil.
                                        Le fait de tendre le bras vers les jouets stimule le développement de la coordination oeil-main de bébé.
                                        Les constrastes marqués sont bien visibles par le bébé.
                                        Mouvements et forts constrastes stimulent la vision de l'enfant.
                                    </p>
                                    <ul>Dimensions</ul>
                                    <ul>Largeur: 55 cm</ul>
                                    <ul> Hauteur: 43 cm</ul>

                                    <span class="price-value public-price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>25</b><span>€50</span></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                    <button type="button" class="btn " onclick="ajouterAuPanier(4)" id="car-4" data-price="25.50" data-description="LEKA Portique bébé">Ajouter au panier </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--modal jeux6-->
            <div class="modal fade" id="Modal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Train employable en bois</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--carossel jeux 6-->
                            <div id="carousel6" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="../image/traintirerenbois.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../image/train1.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../image/train2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel6" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel6" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <div>
                                    <br>
                                    <p>
                                        Train en bois
                                        Partons en train ! Fais preuve d'imagination pour construire le train à l'aide des blocs à empiler de différentes formes et couleurs. Il y a 3 voitures que tu peux empiler. Mettez votre tout-petit au défi pour soutenir la coordination main-oeil et la motricité fine.
                                        C'est aussi un joli accessoire pour la chambre d'enfant ou de jeu.
                                    </p>
                                    <ul>Description</ul>
                                    <ul>Blocs en bois de différentes formes et couleurs.</ul>
                                    <ul>    Peinture à base d'eau.</ul>
                                    <ul>100% bois FSC.</ul>
                                    <span class="price-value public-price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>32</b><span>€95</span></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                    <button type="button" class="btn " onclick="ajouterAuPanier(5)" id="car-5" data-price="32.95" data-description="Train employable en bois">Ajouter au panier </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>





            <!--gard des vetements-->
            <br>
            <h1 class="titre" id="vete"> Les vêtements </h1>

            <!--card vetement 1-->
            <div class="col">
                <div class="card h-100">
                    <center><img id="imgvet" src="../image/vete1.jpg" class="card-img1" alt="..." data-bs-toggle="modal" data-bs-target="#Modalv1"></center>
                    <div class="card-body">
                        <h5 class="card-title">Ensemble 3 piéces pour filles</h5>
                    </div>
                </div>
            </div>
            <!--card vetement 2-->
            <div class="col">
                <div class="card h-100">
                    <center>
                        <img id="imgvet" src="../image/outfitboy.jpg" class="card-img2" alt="..." data-bs-toggle="modal" data-bs-target="#Modalv2">
                    </center>
                    <div class="card-body">
                        <h5 class="card-title">Ensemble 3 piéces pour garcon</h5>
                    </div>
                </div>
            </div>
            <!--card vetement 3 -->
            <div class="col">
                <div class="card h-100">
                    <center> <img id="imgvet" src="../image/jogging1-1.webp" class="card-img3" alt="..." data-bs-toggle="modal" data-bs-target="#Modalv3"></center>
                    <div class="card-body">
                        <h5 class="card-title">
                            Jogging
                        </h5>
                    </div>
                </div>
            </div>
            <!--card vetement  4-->
            <div class="col">
                <div class="card h-100">
                    <center>   <img id="imgvet" src="../image/pyjama1-1.jpg" class="card-img4" alt="..." data-bs-toggle="modal" data-bs-target="#Modalv4"></center>
                    <div class="card-body">
                        <h5 class="card-title">Pyjama pour bébé</h5>
                    </div>
                </div>
            </div>
            <!--card vetement 5-->
            <div class="col">
                <div class="card h-100">
                    <center> <img id="imgvet" src="../image/robe1-1.jpg" class="card-img5" alt="..." data-bs-toggle="modal" data-bs-target="#Modalv5"></center>
                    <div class="card-body">
                        <h5 class="card-title">Les robes </h5>

                    </div>
                </div>
            </div>
            <!--card vetement 6-->
            <div class="col">
                <div class="card h-100">
                    <center> <img id="imgvet" src="../image/boy.jpg" class="card-img6" alt="..." data-bs-toggle="modal" data-bs-target="#Modalv6"></center>
                    <div class="card-body">
                        <h5 class="card-title">Tenu complet pour l'hiver</h5>
                    </div>
                </div>
            </div>
            <!--modal vet1-->
            <div class="modal fade" id="Modalv1" tabindex="3" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Ensemble 3 piéces pour filles</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <!--carossel vet1-->
                            <div id="carouselExample1" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../image/vete1.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../image/vete2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <div>
                                <p>
                                    <br>
                                    <ul>
                                        Référence : XL498
                                        L'ensemble parfait pour les nouveaux nés !
                                    </ul>
                                    <ul>- Ensemble 3 pièces body + legging + bonnet</ul>
                                    <ul>- 100% coton issu de l’agriculture biologique</ul>
                                    <ul>- Body croisé qui permet un habillage facile et sécurisée</ul>
                                    <ul>- Manches longues</ul>
                                    <ul>- Ouverture pressions par devant</ul>
                                    <ul>- Finition bords côtes aux poignets et au bonnet</ul>
                                    <ul>- Legging avec pieds à taille élastiquée avec revers</ul>
                                    <ul>- Imprimé 'étoile' all over sur le body et bonnet</ul>
                                </p>



                                <span class="price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>10</b><span>€50</span></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                            <button type="button" class="btn " onclick="ajouterAuPanier(6)" id="car-6" data-price="10.50" data-description="ensemble 3 piéces">Ajouter au panier </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal vet2-->
            <div class="modal fade" id="Modalv2" tabindex="3" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Ensemble 3 piéces </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div><img src="../image/outfitboy.jpg" class="d-block w-100" alt="..."></div>
                            <div>
                                <br>
                                <p>Un ensemble complet pour bébé !</p>
                                <ul> Dimensions :</ul>
                                <ul>- Coton issu de l'agriculture biologique majoritaire</ul>
                                <ul>- Gilet en tricot</ul>
                                <ul>- Ouverture boutonnée</ul>
                                <ul>- Body assorti</ul>
                                <ul>- Manches longues</ul>
                                <ul>- Intérieur gratté tout doux   </ul>
                                <ul>- Taille élastiquée + cordon de serrage</ul>
                                <span class="price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>10</b><span>€00</span></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                <button type="button" class="btn " onclick="ajouterAuPanier(7)" id="car-7" data-price="10.00" data-description="ensemble 3 piéces">Ajouter au panier </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal vet3-->
            <div class="modal fade" id="Modalv3" tabindex="3" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Jogging</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--carossel vet 3-->
                            <div id="carouselv3" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="../image/jogging1-2.webp" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../image/jogging1-3.webp" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../image/jogging1-4.webp" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselv3" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselv3" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <div>
                                    <br>
                                    <p>Ensemble t-shirt + pantalon de jogging - 2 pièces </p>
                                    <ul>- T-shirt en jersey</ul>
                                    <ul>- Manches longues </ul>
                                    <ul>- Pantalon de jogging  </ul>
                                    <ul>- Taille élastiquée </ul>
                                    <ul>- Resserrée à la base  </ul>
                                    <span class="price-value public-price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>12</b><span>€00</span></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                    <button type="button" class="btn " onclick="ajouterAuPanier(8)" id="car-8" data-price="12.00" data-description="jogging">Ajouter au panier </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--modal vet4-->
            <div class="modal fade" id="Modalv4" tabindex="3" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">les pyjamas</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--carossel vet 4-->
                            <div id="carouselv4" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="../image/jogging1-2.webp" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../image/jogging1-3.webp" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../image/jogging1-4.webp" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselv4" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselv4" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <div>
                                    <br>
                                    <p> Pyjama bébé </p>
                                    <ul> Matière : En velours très doux (75% coton, 25% polyester) bébé sera habillé chaudement pour la nuit.</ul>
                                    <ul>
                                        Coloris :plusieur couleurs
                                    </ul> <span class="price-value public-price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>10</b><span>€00</span></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                    <button type="button" class="btn " onclick="ajouterAuPanier(9)" id="car-9" data-price="10.00" data-description="pyjama">Ajouter au panier </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal vet5-->
            <div class="modal fade" id="Modalv5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Les robes</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--carossel vet 5-->
                            <div id="carouselv5" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="../image/robe1-1.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../image/robe1-2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselv5" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselv5" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <div>
                                    <br>
                                    <p>
                                        Bébé va être la plus belle pour aller danser avec cette robe aux couleurs vives. Son imprimé savane, parsemé de léopards et de végétation exotique et colorée donnent à cette robe une vraie personnalité !
                                        Facile à enfiler pour bébé, elle se ferme avec un bouton au niveau de l'encolure dans le dos, avec 3 petits boutons.
                                    </p>
                                    <ul>Matiére:Le coton bio certifié GOTS</ul>
                                    <ul>Conseils d'entretien : Lavage en machine à 40°</ul>


                                    <span class="price-value public-price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>20</b><span>00€</span></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                    <button type="button" class="btn " onclick="ajouterAuPanier(10)" id="car-10" data-price="20.00" data-description="robe">Ajouter au panier </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--modal vet6-->
            <div class="modal fade" id="Modalv6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tenue complete</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--carossel vet 6-->
                            <div id="carouselv6" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="../image/boy.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../image/boy2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselv6" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselv6" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <div>
                                    <br>
                                    <p>
                                        Ensemble 2 pièces molleton sweat zippé
                                        Ensemble 2 pièces, en molleton doux et chaud, composé d'un sweat zippé à capuche imprimé renards et d'un jogging uni.
                                    </p>
                                    <ul>Description</ul>
                                    <ul>Matière principale : 99% coton, 1% viscose (sweat).</ul>
                                    <ul>Doublure capuche : 100% coton.</ul>
                                    <ul>Température de lavage 30°.</ul>
                                    <span class="price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>32</b><span>€95</span></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                    <button type="button" class="btn " onclick="ajouterAuPanier(11)" id="car-11" data-price="32.95" data-description="tenue complete">Ajouter au panier </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--card des assecoires-->
            <br>
            <h1 id="access" class="titre"> Les accessoires </h1>
            
                <!--card ass 1-->
                <div class="col">
                    <div class="card h-150">
                        <center><img id="imgacc" src="../image/pousettevintage.jpg" class="card-img13" alt="..." data-bs-toggle="modal" data-bs-target="#ModalA1"></center>
                        <div class="card-body">
                            <h5 class="card-title">Pousette vintage</h5>
                        </div>
                    </div>
                </div>
                <!--card ass 2-->
                <div class="col">
                    <div class="card h-150">
                        <center>
                            <img id="imgacc" src="../image/Poussette.jpg" class="card-img14" alt="..." data-bs-toggle="modal" data-bs-target="#ModalA2">
                        </center>
                        <div class="card-body">
                            <h5 class="card-title">Pousette en vert</h5>
                        </div>
                    </div>
                </div>
                <!--card ass 3 -->
                <div class="col">
                    <div class="card h-150">
                        <center> <img id="imgacc" src="../image/Poussette1.jpg" class="card-img15" alt="..." data-bs-toggle="modal" data-bs-target="#ModalA3"></center>
                        <div class="card-body">
                            <h5 class="card-title">
                                Pousette en beige
                            </h5>
                        </div>
                    </div>
                </div>
                <!--card ass  4-->
                <div class="col">
                    <div class="card h-150">
                        <center>   <img id="imgacc" src="../image/transat.jpg" class="card-img16" alt="..." data-bs-toggle="modal" data-bs-target="#ModalA4"></center>
                        <div class="card-body">
                            <h5 class="card-title">Transat</h5>
                        </div>
                    </div>
                </div>
                <!--card ass 5-->
                <div class="col">
                    <div class="card h-150">
                        <center> <img id="imgacc" src="../image/transat1.jpg" class="card-img17" alt="..." data-bs-toggle="modal" data-bs-target="#ModalA5"></center>
                        <div class="card-body">
                            <h5 class="card-title">Balancelle bercement </h5>

                        </div>
                    </div>
                </div>
                <!--card ass 6-->
                <div class="col">
                    <div class="card h-150">
                        <center> <img id="imgacc" src="../image/maxi.jpg" class="card-img18" alt="..." data-bs-toggle="modal" data-bs-target="#ModalA6"></center>
                        <div class="card-body">
                            <h5 class="card-title">Maxi-cosi</h5>
                        </div>
                    </div>
                </div>
                <!--modal ass1-->
                <div class="modal fade" id="ModalA1" tabindex="3" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 " id="exampleModalLabel" >Pousette vintage </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <!--carossel ass 1-->
                                <div id="carousel" class="carousel slide">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="../image/pousettevintage.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="../image/" class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <div>
                                    <br>
                                    <ul>Description:</ul>
                                    <p>
                                        Poussette vintage exclusive Simo Classic fabriquée par VGC dans les années 1960 avec capote rétractable et espace de rangement en dessous. La partie supérieure, en toile hydrofuge, est détachable de la base chromée. Elle est équipée de roues blanches avec des freins à pied faciles à utiliser, suffisamment grandes pour une conduite souple sur tous les terrains. Cette poussette est définitivement une promenade soignée et facile pour un bébé.
                                        Elle ravira les amateurs de style rétro.
                                    </p>
                                    <span class="price" data-format="SubtitleDeviseOrigine"><b>600</b><span>€</span></span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                <button type="button" class="btn " onclick="ajouterAuPanier(12)" id="car-12" data-price="200.0" data-description="Pousette vintage">Ajouter au panier </button>

                            </div>
                        </div>
                    </div>
                </div>
                <!--modal ass2-->
                <div class="modal fade" id="ModalA2" tabindex="3" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Pousette en vert </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div><img src="../image/Poussette.jpg" class="d-block w-100" alt="..."></div>
                                <br>
                                <div>
                                    <ul> Description:</ul>
                                        <p>
                                           
                                            Poussette en vert  homologuée de 0 a 15 Kg pour les enfants de 0 a 36 mois. Le pliage de la poussette est rapide et compact La poussette est tres légere a porter (6Kg)
                                            et il y a une poignée pour vous faciliter le transport
                                         </p>
                                   
        
                                    <span class="price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>120</b><span>€00</span></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                    <button type="button" class="btn" onclick="ajouterAuPanier(13)" id="car-13" data-price="120.00" data-description="Pousette en vert">Ajouter au panier </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--modal ass 3-->
                <div class="modal fade" id="ModalA3" tabindex="3" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Pyramide à empiler</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--carossel ass 3-->
                                <div id="carousela3" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="10000">
                                            <img src="../image/Poussette1.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                    <div>
                                        <br>
                                        <ul> Description:</ul>
                                        <p>
                                            Poussette en beige  homologuée de 0 a 15 Kg pour les enfants de 0 a 36 mois. Le pliage de la poussette est rapide et compact La poussette est tres légere a porter (6Kg)
                                            et il y a une poignée pour vous faciliter le transport

                                        </p>
                                        <ul> Ceinture de sécurité </ul>
                                        <ul>Freins sur les roues arrières</ul>
                                        <span class="price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>120</b><span>€00</span></span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                        <button type="button" class="btn" onclick="ajouterAuPanier(14)" id="car-14" data-price="120.00" data-description="Pousette en beige">Ajouter au panier </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--modal ass4-->
                <div class="modal fade" id="ModalA4" tabindex="3" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Transat avec arche Babydream</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--carossel jeux 4-->
                                <div id="carousela4" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="10000">
                                            <img src="../image/transat.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="2000">
                                            <img src="../image/.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="../image/.jpg" class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                    <div>
                                        <br>
                                        <ul>DESCRIPTION</ul>
                                        <p>
                                            Transat avec arche Babydream
                                            Beau et confortable, le transat Babydream saura se faire une jolie place dans votre salon grâce à sa structure effet bois. Bébé va adorer y être installé à vos côtés pour découvrir son petit monde. Il dispose d'un dossier réglable sur 3 positions : assis, mi-allongé, allongé. Sa base vous permet de laisser le transat fixe ou avec un balancement. L'arche de jeux amovible avec ses deux jouets n'en finira pas
                                            de d'émerveiller votre tout-petit !
                                        </p>
                                            
                                        <ul>Dimensions déplié : L 80 x l 49 x h 64 cm. Dimensions plié : L 84 x l 49 x h 14 cm</ul>
                                        <ul>Poids : 3,850 kg</ul>
                                        <ul>  Utilisation : dés la naissance</ul>
                                        <span class="price-value public-price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>70</b><span>€00</span></span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                        <button type="button" class="btn" onclick="ajouterAuPanier(15)" id="car-15" data-price="70.00" data-description="Transet avec arche Babydream">Ajouter au panier </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--modal ass 5-->
                <div class="modal fade" id="ModalA5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Balancelle bercement </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--carossel ass 5-->
                                <div id="carousela5" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="10000">
                                            <img src="../image/transat1.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="2000">
                                            <img src="../image/.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="../image/.jpg" class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel5" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel5" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                    <div>
                                        <br>
                                        <ul>Description:</ul>
                                        <p>
                                            Balancelle multifonctions ultra-légère !
                                        </p>
                                        <ul>
                                            Têtière confortable ajustable
                                        </ul>
                                        <ul>Bercement naturel latéral avec 5 vitesses</ul>
                                        <ul>
                                            2 positions d'inclinaison
                                        </ul>

                                        <span class="price-value public-price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>85</b><span>€</span></span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                        <button type="button" class="btn " onclick="ajouterAuPanier(16)" id="car-16" data-price="85.00" data-description="Balancelle bercement">Ajouter au panier </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--modal ass 6-->
                <div class="modal fade" id="ModalA6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Maxi-cosi</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--carossel ass 6-->
                                <div id="carousela6" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="10000">
                                            <img src="../image/maxi.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="2000">
                                            <img src="" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="" class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel6" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel6" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                    <div>
                                        <br>
                                        <ul>Description</ul>
                                        <p>
                                            Siège auto pour bébé pivotant à 360° unique pour un confort maximal,
                                            une commodité inégalée et une sécurité assurée, dès le premier jour
                                        </p>
                                        
                                        <ul>De la naissance jusqu'à 15 mois environ</ul>
                                        <ul>De 40 à 83 cm</ul>
                                        <ul>0 - 13 kg</ul>
                                        <span class="price-value public-price" data-format="SubtitleDeviseOrigine" data-displayprice="true" data-discount="0"><b>100</b><span>€00</span></span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn " data-bs-dismiss="modal">fermer</button>
                                        <button type="button" class="btn " onclick="ajouterAuPanier(17)" id="car-17" data-price="100.00" data-description="Maxi-cosi">Ajouter au panier </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>















            </div>

          </main>

